 
  body {
    background: linear-gradient(to right, #adbaf0, #e9aeb3, #f0deac)
  }
  
  .App {
    height: 100vh;
    width: 100%;
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(80px, auto) repeat(5, 80px);
  }
  
  .calculator-grid > button {
    border-radius: 1rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    border: 1px solid white;
    outline: none;
    background-color: #fafafa75;
    margin: 3px;
  }
  
  .calculator-grid > button:hover {
    background-color: #fafafa;
  }
  
  #span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    margin-bottom: 0.5rem;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1.8rem;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    
  }
  